.personalInfo {
	float: left;
	margin-left: 30px;
	margin-right: 30px; 
}

div.ccInfo {
	float: left;
		margin-left: 30px;
	margin-right: 30px;  
}
form[name='site_app_firstdata_form'] {
	margin: auto;
/*  position: relative; 
	width: 540px;  */
	height: 525px; 
	line-height: 24px;
	font-weight: bold;	
	text-decoration: none;
	padding: 10px;
}

form[name='site_app_firstdata_form'] input {
	width: 150px;
	display: block;
}

form[name='site_app_firstdata_form'] input.focus {
	
}

form[name='site_app_firstdata_form'] select {
	display: block;
}

form[name='site_app_firstdata_form'] select {
	width: 150px;
}


form[name='site_app_firstdata_form'] select.cc_date {
	display: inline;
	margin-right: 10px;
}

form[name='site_app_firstdata_form'] select.cc_date_month {
	width: 50px;
}

form[name='site_app_firstdata_form'] select.cc_date_year {
	width: 70px;
}


/* jQuery Validate 
example: http://webdesigntutsplus.s3.amazonaws.com/tuts/214_html5_form_validation/demo/index.html
*/
div.success input {
	border-color: #28921F;
}

div.error input {
       border-color: #B03535;
}
